{% extends "blog/base.html" %}
{% block content %}
    {% for post in posts%}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
<!--    {% for pub in pubs %}-->
<!--        <article class="media content-section">-->
<!--          <div class="media-body">-->
<!--            <div class="article-metadata">-->
<!--              <a class="mr-2" href="#">{{ pub.name }}</a>-->
<!--              <small class="text-muted">{{ pub.date_visited }}</small>-->
<!--            </div>-->
<!--            <h2><a class="article-title" href="#">{{ pub.name }}</a></h2>-->
<!--              <p>Attendees:</p>-->
<!--              <ul>-->
<!--                  {% for person in pub.attendees.all %}-->
<!--                  <li>{{ person.name }}</li>-->
<!--                  {% endfor %}-->
<!--              </ul>-->
<!--              <br>-->
<!--            <p class="article-content">{{ pub.description }}</p>-->
<!--          </div>-->
<!--        </article>-->
<!--    {% endfor %}-->
{% endblock content %}